	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/07/2016 14:10
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/restaurant-font/Flaticon.eot");
  src: url("../fonts/restaurant-font/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/restaurant-font/Flaticon.woff") format("woff"),
       url("../fonts/restaurant-font/Flaticon.ttf") format("truetype"),
       url("../fonts/restaurant-font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/restaurant-font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-apron:before { content: "\f100"; }
.flaticon-bar:before { content: "\f101"; }
.flaticon-barbecue:before { content: "\f102"; }
.flaticon-barman:before { content: "\f103"; }
.flaticon-beer:before { content: "\f104"; }
.flaticon-bell:before { content: "\f105"; }
.flaticon-board:before { content: "\f106"; }
.flaticon-breakfast:before { content: "\f107"; }
.flaticon-brochette:before { content: "\f108"; }
.flaticon-browser:before { content: "\f109"; }
.flaticon-cake:before { content: "\f10a"; }
.flaticon-cake-1:before { content: "\f10b"; }
.flaticon-candles:before { content: "\f10c"; }
.flaticon-carrot:before { content: "\f10d"; }
.flaticon-champagne:before { content: "\f10e"; }
.flaticon-chef-hat:before { content: "\f10f"; }
.flaticon-chicken:before { content: "\f110"; }
.flaticon-clipboard:before { content: "\f111"; }
.flaticon-closed:before { content: "\f112"; }
.flaticon-cocktail:before { content: "\f113"; }
.flaticon-coffee:before { content: "\f114"; }
.flaticon-coffee-cup:before { content: "\f115"; }
.flaticon-coffee-maker:before { content: "\f116"; }
.flaticon-cookbook:before { content: "\f117"; }
.flaticon-cooker:before { content: "\f118"; }
.flaticon-corkscrew:before { content: "\f119"; }
.flaticon-credit-card:before { content: "\f11a"; }
.flaticon-croissant:before { content: "\f11b"; }
.flaticon-cupcake:before { content: "\f11c"; }
.flaticon-cutlery:before { content: "\f11d"; }
.flaticon-cutlery-1:before { content: "\f11e"; }
.flaticon-daily-specials-board:before { content: "\f11f"; }
.flaticon-delivery:before { content: "\f120"; }
.flaticon-dinner:before { content: "\f121"; }
.flaticon-dinner-1:before { content: "\f122"; }
.flaticon-discount:before { content: "\f123"; }
.flaticon-dish:before { content: "\f124"; }
.flaticon-dishes:before { content: "\f125"; }
.flaticon-fast-food:before { content: "\f126"; }
.flaticon-fish:before { content: "\f127"; }
.flaticon-flower:before { content: "\f128"; }
.flaticon-fork:before { content: "\f129"; }
.flaticon-fruit:before { content: "\f12a"; }
.flaticon-hamburger:before { content: "\f12b"; }
.flaticon-hot-pepper:before { content: "\f12c"; }
.flaticon-ice-cream:before { content: "\f12d"; }
.flaticon-invoice:before { content: "\f12e"; }
.flaticon-ketchup:before { content: "\f12f"; }
.flaticon-knife:before { content: "\f130"; }
.flaticon-ladle:before { content: "\f131"; }
.flaticon-libra:before { content: "\f132"; }
.flaticon-lobster:before { content: "\f133"; }
.flaticon-menu:before { content: "\f134"; }
.flaticon-menu-1:before { content: "\f135"; }
.flaticon-microwave-oven:before { content: "\f136"; }
.flaticon-mill:before { content: "\f137"; }
.flaticon-mixer:before { content: "\f138"; }
.flaticon-no-smoking:before { content: "\f139"; }
.flaticon-noodles:before { content: "\f13a"; }
.flaticon-open:before { content: "\f13b"; }
.flaticon-padnote:before { content: "\f13c"; }
.flaticon-pasta:before { content: "\f13d"; }
.flaticon-pizza:before { content: "\f13e"; }
.flaticon-placeholder:before { content: "\f13f"; }
.flaticon-point-of-service:before { content: "\f140"; }
.flaticon-pot:before { content: "\f141"; }
.flaticon-refrigerator:before { content: "\f142"; }
.flaticon-reserved:before { content: "\f143"; }
.flaticon-restaurant:before { content: "\f144"; }
.flaticon-restaurant-card:before { content: "\f145"; }
.flaticon-rolling-pin:before { content: "\f146"; }
.flaticon-salmon:before { content: "\f147"; }
.flaticon-salt-and-pepper:before { content: "\f148"; }
.flaticon-salver:before { content: "\f149"; }
.flaticon-sausages:before { content: "\f14a"; }
.flaticon-sausages-1:before { content: "\f14b"; }
.flaticon-scooter:before { content: "\f14c"; }
.flaticon-shaker:before { content: "\f14d"; }
.flaticon-shrimp:before { content: "\f14e"; }
.flaticon-signboard:before { content: "\f14f"; }
.flaticon-smartphone:before { content: "\f150"; }
.flaticon-soup:before { content: "\f151"; }
.flaticon-spatula:before { content: "\f152"; }
.flaticon-spatula-1:before { content: "\f153"; }
.flaticon-spicy-food:before { content: "\f154"; }
.flaticon-steak:before { content: "\f155"; }
.flaticon-sushi:before { content: "\f156"; }
.flaticon-take-away:before { content: "\f157"; }
.flaticon-tea:before { content: "\f158"; }
.flaticon-terrace:before { content: "\f159"; }
.flaticon-toast:before { content: "\f15a"; }
.flaticon-tree:before { content: "\f15b"; }
.flaticon-vegan:before { content: "\f15c"; }
.flaticon-vegetarian-food:before { content: "\f15d"; }
.flaticon-waiter:before { content: "\f15e"; }
.flaticon-wallet:before { content: "\f15f"; }
.flaticon-wc:before { content: "\f160"; }
.flaticon-wifi:before { content: "\f161"; }
.flaticon-wine:before { content: "\f162"; }
.flaticon-wine-menu:before { content: "\f163"; }
